* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

body {
  width: 100%;
  min-height: 100vh;
}
/* Header style  */
.header-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header {
  margin: 0px;
  max-width: 1366px;
  min-height: 64px;
}

a {
  text-decoration: none;
}

#logo {
  line-height: 150%;
  font-size: 28px;
  font-weight: 700;
  color: #0f2a59;
  margin-left: 110px;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-right: 206px;
}

nav > span {
  border-right: 1px solid #e8e8e8;
}
nav {
  margin-right: 206px;
}

.links {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #181818;
  font-style: normal;
}

.fa-solid {
  font-size: 8px;
  text-align: center;
  margin-left: 2px;
  margin-right: 10px;
  border-right: 1px solid #e8e8e8;
}

.lan {
  display: flex;
  align-items: center;
  padding-left: 230px;
  margin-right: 35px;
}

.lan > p {
  padding-right: 5px;
  font-size: 14px;
  line-height: 16px;
}

.lan > img {
  padding-left: 5px;
}

/* MAIN BANNER style */

main {
  width: 100%;
}
/* main-section style */
.icon {
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 2px white;
  padding: 0.3em 0.3em;
  background-color: azure;
  margin-right: 15px;
  border: 1px solid #ffffff;
}

#circle {
  background-color: #0f2a59;
}

.main-section {
  background-image: url("./images/fotka.png");
  max-width: 100%;
  min-height: 568px;
}

.main-section {
  position: relative;
}

.icons-slider {
  position: absolute;
  top: 531px;
  left: 615px;
  right: 615px;
  bottom: 28px;
}
.right-left {
  box-sizing: border-box;
  border: 1px solid #ffffff;
  width: 40px;
  height: 40px;
}

.right-left > img {
  padding: 14px 17px;
}

#left {
  position: absolute;
  top: 274px;
  right: 1294px;
  left: 32px;
  bottom: 254px;
}

#right {
  position: absolute;
  right: 32px;
  top: 274px;
  bottom: 254px;
}

.text {
  position: absolute;
  top: 205px;
  left: 167px;
}

.text > h1 {
  color: white;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  margin: 20px;
}
.text > p {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 62px;
  padding-left: 20px;
}

.text > button {
  width: 198px;
  height: 40px;
  line-height: 150%;
  font-weight: 500;
  font-size: 12px;
  margin-left: 20px;
}
.text > button {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.text > button:hover {
  color: #200e32;
  background-color: white;
  border: 3px solid blue;
}
/* section-information style */

.information-card {
  width: 100%;
  display: flex;
  margin-top: 33px;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.article-card {
  width: 368px;
  height: 130px;
  border-left: 5px solid #0f2a59;
  background-color: #f8f8f8f8;
  position: relative;
}
.one {
  border-left: 5px solid #e8e8e8;
}

.icons {
  position: absolute;
  right: 16px;
  top: 12px;
  width: 106px;
  height: 106px;
  z-index: 8;
}

.p-card {
  position: relative;
  line-height: 150%;
  padding-top: 16px;
  padding-left: 21px;
  z-index: 9;
}

.font-14 {
  font-size: 14px;
  margin-top: -6px;
}

.font-16 {
  font-size: 16px;
}

.three {
  grid-column: span 1;
  border-left: 5px solid #0f2a59;
}

.icons {
  margin-top: 4px;
  margin-right: 3px;
}
/* section-news style*/

#h1 {
  padding-left: 155px;
  padding-top: 104px;
  padding-bottom: 24px;
  line-height: 125%;
  font-size: 28px;
  font-weight: 700;
  color: #200e32;
}
.news-section {
  width: 100%;
}
.news-section {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.first-image {
  background-image: url("./images/184.png");
  width: 568px;
  height: 383px;
  position: relative;
}
.first-image > .news > p {
  font-size: 14px;
  line-height: 125%;
  padding-bottom: 4px;
}
#news-p {
  font-weight: 700;
  font-size: 20px;
  line-height: 125%;
}

.news {
  position: absolute;
  top: 287px;
  left: 24px;
  color: white;
}
.flex-inside {
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 21px;
  margin: 0;
}

.news-small {
  padding-top: 117px;
  padding-left: 10px;
  color: #ffff;
}
.small-p {
  font-size: 11px;
  line-height: 125%;
  padding-bottom: 4px;
}
.bold-large {
  font-weight: 700;
  font-size: 13px;
  line-height: 140%;
}
.second-image {
  background-image: url("./images/185.png");
}

.Image-3 {
  background-image: url("./images/186.png");
}
.Image-4 {
  background-image: url("./images/187.png");
}
.Image-5 {
  background-image: url("./images/188.png");
}
.i-size {
  width: 268px;
  height: 181px;
}

/*main-ourMission*/
#section-our-mission {
  width: 100%;
  margin-top: 72px;
  margin-left: 158px;
}
.our-mission {
  position: relative;
  max-width: fit-content;
  margin-bottom: 48px;
}

.image {
  max-width: 1168px;
  max-height: 480px;

  margin: 0;
  clear: both;
}

.info-1 {
  position: absolute;
  top: 57px;
  right: 64px;
}

#mountain-foto {
  margin: 0;
  padding: 0;
  width: 900px;
}

.rectangle {
  width: 268px;
  height: 480px;
  float: right;
}

.rectangle,
#rectangle {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 0.8),
    rgba(250, 250, 250, 0.8),
    rgba(250, 250, 250, 0.8)
  );
  backdrop-filter: filter(15px);
}

#rectangle {
  width: 368px;
  height: 480px;
  float: left;
}

.info {
  width: 540px;
  height: 365px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(15px);
}

.h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  margin-top: 48px;
  margin-left: 48px;
  color: #181818;
}

.info > p {
  padding-top: 10px;
  padding-left: 48px;
  padding-right: 48px;
  color: #b6b6b6;
}
.button {
  min-width: 260px;
  min-height: 40px;
  color: #0f2a59;
  font-size: 14px;
  font-weight: 500;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
  line-height: 150%;
  margin-left: 48px;
  margin-top: 9px;
  border: 1px solid #0f2a59;
}

.button:hover {
  color: #ffffff;
  background-color: black;
}

#info {
  position: absolute;
  top: 48px;
  left: 64px;
}

/* footer style */

footer {
  max-width: 100%;
  min-height: 478px;
  background-color: #181818;
}

#p {
  font-size: 24px;
  line-height: 29.05px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 56px;
  padding-left: 99px;
}

footer > .contacts > div > span {
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
  color: #ffffff;
}

.contacts {
  padding-left: 100px;
  padding-top: 21px;
}
.white {
  color: #ffffff;
  padding-bottom: 15px;
  padding-left: 15px;
}

#image {
  float: right;
  margin-top: -305px;
  margin-right: 100px;
}

.phone {
  padding-bottom: 15px;
}

#social {
  padding-top: 15px;
}

.social {
  padding-bottom: 15px;
}

/*style about-us page*/

#h1-about {
  padding-top: 32px;
  padding-bottom: 16px;
  padding-left: 99px;
}

.text-title > p {
  font-weight: 300px;
  font-size: 14px;
  line-height: 150%;
  padding-right: 399px;
  padding-left: 99px;
  padding-bottom: 93px;
}

/* Responsive */


@media (max-width: 600px) {
  footer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  section-our-mission {
    width: 100%;
    padding-left: 50px;
  }
}

@media (max-width: 600px) {
  .main-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }
}
